<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Multimode Games.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4BA5E461DF9AE34001E8784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4BA5E661DF9AE35001E8784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4BA5E711DF9AE35001E8784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
